/* goole work sans font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');



* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

/* shared style */
.general-text {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
}

.section-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.primary-color-text {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

/* navbar style */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 10px 220px;

}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 86px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;

}

.nav-logo p {
    font-size: 3rem;
    font-weight: 700;
    margin: 0px;
}

.nav-logo .nav-title {
    color: #FF42A5;

}

.nav-item>ul {
    display: flex;
    align-items: center;
}

.nav-item li {
    list-style: none;
    margin-right: 30px;
}

nav li a,
.nav-btn {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.nav-btn {
    border-radius: 8px;
    background: #0b02231a;
    padding: 12px 24px;
    border: none;

}

.nav-btn .fa-brands {
    font-size: 1rem;
}

.nav-btn .fa-youtube {
    margin-left: 24px;
    color: #F61C0D;
}

.nav-btn .fa-tiktok {
    margin-left: 16px;
}

/* banner style */

.banner-container {
    max-width: 1440;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.banner-content {
    width: 50%;
    text-align: center;
}

.banner-content .banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
}

.banner-content .goat {
    margin-top: 0px;
    color: #0B0223;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}



.banner-btn {
    margin-top: 41px;
}

.btn {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 42px;
    border: none;
}

.signin-btn {
    background: #FF42A5;
}

.rogue-btn {
    background: #4EC5F7;
    ;
}

.banner-image img {
    width: 80%;
}

/* header section style end */
/* main section style start */


.online-game-container {
    max-width: 1440px;
    margin: 120px auto;

}

.online-game-content {
    text-align: center;
}


.online-game-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-description {
    font-size: 1rem;
    font-weight: 400;
    color: #534C64;
}

/* play instant section */
.play-instant-container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: 120px auto;
}

.play-instant-image-container img {
    width: 100%;

}

.play-instant-content {
    margin-left: 250px;
    margin-right: 297px;

}

.play-instant-image-container {
    position: relative;
}

.mini-image {
    width: 55%;
    position: absolute;
    bottom: -100px;
    left: 250px;
}


article {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);

}

.game-category-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 0px;

}

.game-category {
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 50px;
    padding: 0;
}

.game-category img {
    margin-right: 10px;

}

.game-category:hover {
    border: 1px solid #FF42A5;
    border-radius: 50%;
}




.name {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0;
}

/* responsive design for mobile devices */
/* @media screen and (max-width: 576px) {

    nav,
    .nav-item>ul {
        flex-direction: column;
        margin-top: 50px;
    }

    .nav-item li {
        margin-top: 20px;


    }

} */