/* goole work sans font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;

}

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

/* shared style */



/* navbar style */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 10px 220px;

}

.nav-item>ul {
    display: flex;
    align-items: center;
}

.nav-item li {
    list-style: none;
    margin-right: 30px;
}

nav li a,
.nav-btn {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.nav-btn {
    border-radius: 8px;
    background: #0b02231a;
    padding: 12px 24px;
    border: none;

}

.nav-btn .fa-brands {
    font-size: 1rem;
}

.nav-btn .fa-youtube {
    margin-left: 24px;
    color: #F61C0D;
}

.nav-btn .fa-tiktok {
    margin-left: 16px;
}
/* banner style */
